<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/endscreen.css">

    <title>Game Summary</title>
</head>

<body>

    <h1> ~~ Game Summary ~~ </h1>

    <div class="row">

        <div class="column">
            <div class="container">
                <b th:text="'Average Turn Duration:'"> </b> <br>
                <b th:text="'Words Contributed:'"> </b> <br>
                <b th:text="'Words <3 letters:'"> </b> <br>
                <b th:text="'Words >4 letters:'"> </b> <br>
                <b th:text="'Most Common Used Word:'"> </b> <br>
            </div>
        </div>

        <div class="column">
            <div class="container">
                <b>Letters Used</b><br>

            </div>
        </div>

    </div>

    <br>

    <div class="center">
        <button class="button button1" onclick="window.location.href='/';"> Continue </button>
    </div>

</body>

<script src="js/libs/jquery.js"> </script>
<script src="js/endscreen.js"> </script>

</html>