<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/play.css">
    <title>Play</title>
</head>

<body>

<!------------------------------------------------ PLAY PAGE -->
    <div id="play_page">
        <!-- game logo -->
        <div>
            <img src="media/logo.png" alt="logo" onclick="location.href = '/'">
        </div>

        <!-- form where you need to enter your name and submit it -->
        <!-- name input -->
        <label for="name">Enter your name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <!-- button "Play" -->
        <div class="container">
            <div class="wrap">
                <button id="play_button" class="button">Play</button>
            </div>
        </div>
        <div style="display: none" id="load-icon-container">
            <div class="loader"></div>
            <span> Connecting to server... </span>
        </div>

    </div>


<!------------------------------------------------ WAITING PAGE -->
    <div id="waiting_page">
        <div class="center">
            <div class="ring">

            </div>
            <span> Looking for lobby... </span>
        </div>
        <div class="center2">
            <button id="cancel-button" class="button button1"> Cancel </button>
        </div>
    </div>


<!------------------------------------------------ GAME PAGE -->
    <div id="game_page">
        <div id="two_columns">
            <div id="column-1" class="column">
                <!-- list of players -->
                <ul id="players-list">

                </ul>

                <!-- submit a word -->
                <div class="column">
                    <label for="word">Word:</label>
                    <input type="text" id="word" name="word"><br><br>
                    <div>
                        <button type="button" onClick="submitWord()"> Submit </button>
                        <span id="seconds-left">0s</span>
                    </div>
                </div>
                <span id="result"></span>
            </div>

            <!-- story -->
            <div id="story_column" class="column">
                <h3 class="story-title" >Your Story</h3>
                <div id="story">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>

            <!-- exit icon -->
            <div class="column" id="close_button">
                <img style="vertical-align:middle" src="media/exit.png" width="50" alt="Close" onclick="exit()">
            </div>
        </div>
    </div>

</body>

<script src="js/libs/jquery.js"> </script>
<script src="js/libs/sweetalerts2.js"></script>
<script src="js/play.js"> </script>

</html>