<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/waiting.css">
    <title>Waiting</title>
</head>

<body>

  <div class="center">
        <div class="ring">

        </div>
        <span> Looking for lobby... </span>
  </div>
  <div class="center2">
      <button class="button button1" onclick="window.location.href='https://w3docs.com';"> Cancel </button>
  </div>

</body>

</html>