/* Game Page */

@font-face {
    font-family: 'Lobster';
    src: url('/media/fonts/Lobster.ttf');
}

/* main colors of the website */
:root {
    --color1: #17252a;
    --color2: #2b7a78;
    --color3: #3aafa9;
    --color4: #def2f1;
    --color5: #feffff;
}

body {
    background: var(--color3);
}

#two_columns {
    display: flex;
}

#column-1 {
    flex: 30%;
}

#story_column {
    flex: 60%;
}

/* story title design */
.story-title {
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    text-align: center;
    text-shadow: #2b7a78 3px 3px;
    padding: -10px;
}

/* story box design */
#story {
    font-family: URW Chancery L, cursive;
    border-style: solid;
    height: 300px;
    overflow-y:scroll;
    background-color: var(--color4);
    padding: 10px;
}

/* remove dots from unordered list of players */
ul {
    list-style-type: none;
}

#game_page {
    display: none;
}











/* ------------ Play Page -------------- */


/* colors of the website */
:root {
    --color1: #17252a;
    --color2: #2b7a78;
    --color3: #3aafa9;
    --color4: #def2f1;
    --color5: #feffff;
}

/*body {
    background: var(--color3);
}*/

form {
    position: center;
    text-align: center;
}

input:invalid {
    border: 2px solid var(--color5);
}

input:invalid:required {
    background-color: var(--color2);
}

/* design of button */
.container {
    height: 150px;
    position: relative;
}

.wrap {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    min-width: 150px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
}

.button:hover::before, .button:focus::before {
    opacity: 1;
}

.button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.button:hover::after, .button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 150px;
        height: 150px;
        opacity: 0;
    }
}












/*-------- WAITING PAGE CSS ----------- */

/*body{
    background: #17252a;
}*/

.center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.center2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s infinite;
}

@keyframes ring {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #2b7a78;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #3aafa9;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #def2f1;
    }
}

.ring:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(225, 225, 225, .3);
}

#play_page span, #game_page span, #waiting_page span {
    color: #feffff;
    font-size: 20px;
    font-family: Lobster;
    animation: text 3s ease-in-out infinite;
}

@keyframes text {
    50%{
        color: #17252a;
    }
}

.button {
    padding: 16px 32px;
    display: inline-block;
    font-size: 16px;
    font-family: Lobster;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: #2b7a78;
    border: 2px solid #17252a;
    margin: auto;
}

.button1:hover {
    background-color: #17252a;
    color: #def2f1;
}

#waiting_page {
    display: none;
}
