:root {
    --color1: #985b26;
    --color2: #4f3324;
    --color3: #f3e3c5;
    --color4: #cba588;
    --color5: #9e724d;
}

body {
    background: var(--color3);
    color: var(--color1);
}

h1 {
    text-align: center;
    font-family: Bradley Hand, cursive;
    font-size: 50px;
    color: var(--color4);
    text-shadow: 5px 5px var(--color1);
}

a {
    color: var(--color2);
}


.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px;
}

.container{
    float: inside;
    border-radius: 10px;
    background-image: url('../media/parchment.png');;
    padding: 20px;
    height: auto;
}

.stat-title {
    margin-bottom: 1px;
}

.button {
    min-width: 150px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: var(--color3);
    background: var(--color4);
    background: linear-gradient(90deg, var(--color1) 0%, var(--color4) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px var(--color1);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid var(--color1);
    box-shadow: 0 0 60px var(--color1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
    color: var(--color1);
    transform: translateY(-6px);
}

.button:hover::before, .button:focus::before {
    opacity: 1;
}

.button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid var(--color1);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.button:hover::after, .button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 150px;
        height: 150px;
        opacity: 0;
    }
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}