:root {
    --color1: #985b26;
    --color2: #4f3324;
    --color3: #f3e3c5;
    --color4: #cba588;
    --color5: #9e724d;
}

body {
    background: var(--color3);
}

#header {
    background-image: url("../media/books.jpg");
    background-size: 1510px;
}

#logo {
    float:left;
    margin:2px;
}

h1 {
    font-family: Bradley Hand, cursive;
    text-shadow: 7px 7px var(--color3);
    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            var(--color2) 0%,
            var(--color1) 29%,
            var(--color5) 67%,
            var(--color4) 100%
    );
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 80px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

a {
    color: var(--color2);
}

#logo {
    border-radius: 50%;
}

#allStoriesByTwo {
    height: 600px;
    overflow-y: scroll;
    border-style: solid;
    margin-top: 100px;
}

.twoStories {
    display: flex;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    background-color: var(--color4);
}

.story {
    flex: 50%;
    margin: 10px;
    padding: 10px;
    background-image: url("../media/parchment.png");
}

h2 {
    text-align: center;
}

#name_logo {
    text-align: center;
}

#play_button {
    position: center;
}

.container {
     height: 100px;
     position: relative;
}

.wrap {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    min-width: 150px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: var(--color3);
    background: linear-gradient(90deg, var(--color1) 0%, var(--color4) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px var(--color1);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid var(--color1);
    box-shadow: 0 0 60px var(--color1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
    color: var(--color2);
    transform: translateY(-6px);
}

.button:hover::before, .button:focus::before {
    opacity: 1;
}

.button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid var(--color1);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.button:hover::after, .button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 150px;
        height: 150px;
        opacity: 0;
    }
}

.button1 {
    position: relative;
    margin: 0.5em;
    padding: 0.5em 1em;
    border: 0;
    border-radius: 0.5em;
    background-color: var(--color4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.button1:active,
.active {
    top: 2px;
    left: 1px;
    box-shadow: none;
}


.switch {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color1);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 10px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--color2);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--color4);
}

input:checked + .slider:before {
    -webkit-transform: translateX(120px);
    -ms-transform: translateX(120px);
    transform: translateX(120px);
}

#latest
{
    display: none;
}

#latest, #liked
{
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked+ .slider #latest
{display: block;}

input:checked + .slider #liked
{display: none;}


.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;}
