:root {
    --color1: #17252a;
    --color2: #2b7a78;
    --color3: #3aafa9;
    --color4: #def2f1;
    --color5: #feffff;
}

body {
    background: var(--color3);
}

h1 {
    font-family: Bradley Hand, cursive;
    font-size: 50px;
    color: var(--color4);
    text-shadow: 5px 5px var(--color1);
}
#all_stories {
    display: flex;
    height: 600px;
    overflow-y: scroll;
    border-style: solid;
    margin-top: 100px;
}

.column {
    flex: 50%;
}

.story {
    border-style: solid;
    margin: 10px;
    padding: 10px;
    background-color: var(--color4);
}

h2 {
    text-align: center;
}

#name_logo {
    text-align: center;
}

#play_button {
    position: center;
}

.container {
     height: 150px;
     position: relative;
}



.wrap {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    min-width: 150px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
}

.button:hover::before, .button:focus::before {
    opacity: 1;
}

.button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.button:hover::after, .button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 150px;
        height: 150px;
        opacity: 0;
    }
}

.button1 {
    position: relative;
    margin: 0.5em;
    padding: 0.5em 1em;
    border: 0;
    border-radius: 0.5em;
    background-color: var(--color4);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.button1:active,
.active {
    top: 2px;
    left: 1px;
    box-shadow: none;
}


.switch {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color1);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 10px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--color2);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--color4);
}

input:checked + .slider:before {
    -webkit-transform: translateX(120px);
    -ms-transform: translateX(120px);
    transform: translateX(120px);
}

#latest
{
    display: none;
}

#latest, #liked
{
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked+ .slider #latest
{display: block;}

input:checked + .slider #liked
{display: none;}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;}