:root {
    --color1: #985b26;
    --color2: #4f3324;
    --color3: #f3e3c5;
    --color4: #cba588;
    --color5: #9e724d;
}

body {
    background: var(--color3);
    color: var(--color1);
}

h1 {
    text-align: center;
    font-family: Bradley Hand, cursive;
    font-size: 50px;
    color: var(--color4);
    text-shadow: 5px 5px var(--color1);
}

a {
    color: var(--color2);
}

img {
    border-radius: 50%;
}

img.user_profile{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    vertical-align: middle;
}

h3 {
    text-align: center;
    font-family: Bradley Hand, cursive;
}

.center {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    align-items: center;
    float: left;
    width: 25%;
    padding: 10px;
}

.column2 {
    float: left;
    width: 60%;
    padding: 10px;
}

.row {
    display: flex;
}

p.story{
    border-radius: 10px;
    background-image: url('../media/parchment.png');
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-style: solid;
    border-color: var(--color1);
}

.vote{

}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color1);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color2);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color1);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

#all_comments {
    height: 200px;
    width: 550px;
    overflow-y: scroll;
    border-radius: 10px;
    background-image: url('../media/parchment.png');
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    border-style: solid;
    border-color: var(--color1);
}

#all_votes{
    height: 100px;
    overflow-y: scroll;
    border-radius: 10px;
    background-image: url('../media/parchment.png');
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    border-style: solid;
    border-color: var(--color1);
}

.comments {
    margin: 10px;
    font-family: Arial, serif;
    font-size: 12px;
}

p.comment {
    display: inline-block;
    border-style: solid;
    border-color: var(--color1);
    border-radius: 5px;
    padding: 2px;
}

.titles {
    border-style: solid;
    margin: 10px;
    border-radius: 5px;
    font-family: Arial, serif;
    font-size: 12px;
    text-align: center;
    padding: 2px;
}

#myForm{
    font-family: Lobster, serif;
}

#heartButton {
    background: transparent;
    border: none;
    font-size: 32px;
    outline: none;
    color: var(--color1);
}

#heartButton i:hover{
    cursor: pointer;
}

#thumbsUpButton {
    background: transparent;
    border: none;
    font-size: 20px;
    outline: none;
    color: var(--color1);
}

#thumbsUpButton i:hover{
    cursor: pointer;
}

#userComment, #userName, #title_name {
    border-style: solid;
    border-color: var(--color1);
    background-image: url('../media/parchment.png');
}

#userComment {
    border-radius: 10px;
}

.form-submit-button {
    background: var(--color4);
    color: var(--color3);
    border-style: solid;
    border-color: var(--color1);
    height: 20px;
    width: 55px;
    font: bold 12px arial,sans-serif;
    text-shadow: none;
}

.form-submit-button:hover {
    color: var(--color2);
}
