/* main colors of the website */
:root {
    --color1: #17252a;
    --color2: #2b7a78;
    --color3: #3aafa9;
    --color4: #def2f1;
    --color5: #feffff;
}

body {
    background: var(--color3);
}

#two_columns {
    display: flex;
}

#column-1 {
    flex: 30%;
}

#story_column {
    flex: 60%;
}

/* story title design */
h3 {
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    text-align: center;
    text-shadow: #2b7a78 3px 3px;
    padding: -10px;
}

/* story box design */
#story {
    font-family: URW Chancery L, cursive;
    border-style: solid;
    height: 300px;
    overflow-y:scroll;
    background-color: var(--color4);
    padding: 10px;
}

/* remove dots from unordered list of players */
ul {
    list-style-type: none;
}