.first-color {
    background: #f5f0e8;
}

.second-color {
    background: #d3bd9a;
}

.third-color {
    background: #a28f70;
}

.fourth-color {
    background: #674f04;
}

.story {
    border-style: solid;
    margin: 10px;
}

#all_stories {
    height: 300px;
    overflow-y: scroll;
}