:root {
    --color1: #17252a; /* dark */
    --color2: #2b7a78;
    --color3: #3aafa9;
    --color4: #def2f1;
    --color5: #feffff;
}

body {
    background: var(--color3);
}

#all_stories {
    display: flex;
    height: 300px;
    overflow-y: scroll;
}

.column {
    flex: 50%;
}

.story {
    border-style: solid;
    margin: 10px;
    padding: 10px;
    background-color: var(--color4);
}

h2 {
    text-align: center;
}