<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/endscreen.css">
    <title>Game Summary</title>
</head>

<body>
    <h1>Game Summary</h1>

    <div class="row"></div>

    <br>

    <div class="center">
        <button class="button" onclick="window.location.href='/play';">Continue</button>
    </div>

</body>

<!--<script src="../static/js/libs/jquery.js"> </script>-->
<!--<script src="../static/js/endscreen.js"> </script>-->

</html>